<div class="nav-buttons">
  <button mat-raised-button color="primary" routerLink="/basic-form">Basic Form</button>
  <button mat-raised-button color="accent" routerLink="/nested-form">Nested Form</button>
  <button mat-raised-button color="warn" routerLink="/array-form">Array Form</button>
  <button mat-raised-button color="primary" routerLink="/valid-form">Valid Form</button>
  <button mat-raised-button color="accent" routerLink="/submit-form">Submit Form</button>
</div>

<router-outlet></router-outlet>
